<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- Scan annotation package path, multiple packages separated by commas, do not fill pacakge scan all the current class in the ApplicationContext -->
    <dubbo:annotation package="com.github.proteanbear" />

    <dubbo:provider delay="-1" timeout="60000" loadbalance="random" accesslog="dubbo.log" retries="0"/>

    <!-- Provider application information, used to calculate dependencies -->
    <dubbo:application name="provider"  />

    <!-- Use the zookeeper registry to expose the service address -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!-- Use dubbo protocol in the 20880 port exposed service -->
    <dubbo:protocol name="dubbo" port="20880" />
</beans>